/* soft reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Code', monospace;
  color: white;
  background: linear-gradient(to top right, #003399 19%, #663300 75%);
}

@media (min-width: 300px) {
  body {
    font-size: 12px;
  }

  .portfolio-title {
    font-size: 2em;
  }

  .portfolio-items {
    font-size: 2em;
  }
}

@media (min-width: 550px) {
  body {
    font-size: 18px;
  }

  .portfolio-title {
    font-size: 1em;
  }

  .portfolio-items {
    font-size: 1em;
  }
}

@media (min-width: 650px) {
  body {
    font-size: 22px;
  }
}

a {
  text-decoration: none;
  color: white;
}

a:active,
a:hover {
  text-decoration: underline;
  color: whitesmoke;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu {
  background: rgba(255, 255, 255, 0.3);
  padding: 5px;
  box-shadow: 0 0 5px gray;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 13px;
  font-size: 1.3em;
  transition: background-color 200ms, color 200ms;
  border-radius: 0 0 10px 10px;
}

.menu a:hover {
  color: teal;
  background-color: snow;
}

.visit-card {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.visit-card-text {
  line-height: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: 'Libre Baskerville', serif;
  font-size: 3em;
  margin-top: 40px;
}

.visit-card-text ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  width: 100%;
}

.visit-card-text a {
  display: block;
  font-size: 3em;
  transition: transform, 500ms;
}

.visit-card-text a:active,
.visit-card-text a:hover {
  display: block;
  transform: scale(1.2);
}

.visit-card-text img {
  width: 4em;
  height: 4em;
}

.avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 50%;
  height: 50%;
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  min-height: 100vh;
}

@media (min-width: 1024px) {
  .portfolio {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio-title {
  margin-top: 40px;
}

.portfolio .grid {
  margin-top: 10px;
  display: grid;
  gap: 3em;
}

@media (min-width: 1080px) {
  .portfolio .grid {
    grid-template-columns: repeat(2, 480px);
  }
}

.card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
  width: 480px;
}

.flip-card {
  height: 270px;
  perspective: 1000px;
}

.flip-card:hover .card {
  transform: rotateY(180deg);
}

.card-front,
.card-verse {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 480px;
}

.card-verse {
  color: black;
  background-color: white;
  height: 270px;
  width: 480px;
  transform: rotateY(180deg);
}

.portfolio figure {
  text-align: center;
}

.portfolio-items {
  padding: 30px;
}

.portfolio-items li {
  margin-bottom: 15px;
}

.img-portfolio {
  transition: transform 500ms;
  height: 270px;
  width: 480px;
  object-fit: cover;
}

@media (max-width: 500px) {
  .visit-card,
  .flip-card,
  .card-verse,
  .card-front,
  .img-portfolio,
  .card {
    width: 90vw;
  }
}

footer {
  text-align: center;
}
